body {
    font-family: 'Segoe UI', sans-serif;
    margin: 40px;
}

span {
    font-style: italic;
}

textarea
{
    width: 200px;
    height: 100px;

margin-top: 5px;
}

.foodGroups
{
    /*float:left*/
}

.logoImg
{
    width: 50%;
    float: right;
}
.examples
{
    float:left;
}
